.benefits {
padding-block-start: var(--section-padding-top);
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--grid-gap);
    width: 100%;
}

.benefits__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--grid-gap);
    block-size: 100%;
    padding: 50px 30px;
    border-radius: var(--border-radius-md);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05),0 -5px 5px rgba(0, 0, 0, 0.05);
}

.benefits__card-icon {
    width: 32px;
    height: 32px;
    color: #4a90e2;
}

.benefits__card-title {
    font-size: 20px;
    font-weight: var(--font-weight-bold);
}

.benefits__card-description {
    text-align: center;
    font-size: 14px;
    color: #666;
}
