.footer {
  padding: 100px 0 30px ;
  background: var(--color-bg-secondary);
  color: var(--color-secondary);
}

.footer__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.footer__card-item {
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: var(--border-radius-sm);
  padding: 20px;
}

.footer__card-title {
  position: relative;
  margin-block-end: 20px;
  padding-block-end: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__card-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background-color: var(--color-accent);
}


.footer__contacts-list {
  flex-direction: column;
  padding: 0;
  color: var(--color-secondary);
}

.footer__contacts-list-item {
  color: rgba(255, 255, 255, 0.7);
}

.footer__navigation-list {
  flex-direction: column;
  row-gap: 10px;
  color: rgba(255, 255, 255, 0.7)
}

.footer__text {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__text:not(:last-child) {
  margin-block-end: 10px;
}