.category-filters {
    position: sticky;
    top: 450px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 10px;
    height: fit-content;
    padding: 30px;
    background-color: var(--color-bg-primary);
    border-radius: var(--border-radius-md);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category-filters__title {
    position: relative;
    padding-block-end: 10px;
    margin-block-end: 25px;
}

.category-filters__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background-color: var(--color-accent);
}

.category-filters__label {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    transition: color 0.3s ease;
}


.category-filters__label:hover,
.category-filters__label:focus-visible {
    color: var(--color-accent);
    cursor: pointer;
}

.category-filters__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.category-filters__checkmark {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 12px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 3px;
    transition: border-color 0.3s ease;
}

.category-filters__label:hover .category-filters__checkmark,
.category-filters__label:focus-visible .category-filters__checkmark {
    border-color: var(--color-accent);
}
