/* Сброс отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Убираем подчеркивания у ссылок по умолчанию */
a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none;
}


/* Наследуем шрифт для форм */
input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

/* Удаляем маркеры у списков */
ul,
ol {
    list-style: none;
}

/* Убираем стандартные стили у кнопок */
button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Убираем обводку у изображений */
img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
}

/* Сброс для заголовков и параграфов */
h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}