/* Импорт блоков */
@import "../blocks/container/container.css";
@import "../blocks/visually-hidden/visually-hidden.css";
@import "../blocks/header/header.css";
@import "../blocks/main/main.css";
@import "../blocks/hero/hero.css";
@import "../blocks/work-preview/work-preview.css";
@import "../blocks/section-title/section-title.css";
@import "../blocks/category-list/category-list.css";
@import "../blocks/card/card.css";

/* Установка базового шрифта и высоты строки */
.main-page {
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--font-size-m);
    line-height: var(--line-height-base);
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
}
