.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--grid-gap);
    padding-block-start: 80px;
}

.map__frame {
    width: 100%;
    height: 600px;
    overflow: hidden;

}