/* Блок header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* Верх шапки с контактами */
.header__top {
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
}

/* Основной блок шапки */
.header__main {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__logo {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  transition: var(--transition-color);
}

.header__logo:hover,
.header__logo:focus-visible {
  color: var(--color-accent);
}

.header__logo_main-page:hover,
.header__logo_main-page:focus-visible {
  color: var(--color-primary);
}

.header__logo_main-page {
  pointer-events: none;
}

.header__navigation-link {
  font-weight: var(--font-weight-medium);
  letter-spacing: .5px;
  text-transform: uppercase;
}